@model PizzaDotNet.Web.ViewModels.Cart.CartViewModel

@{
    this.ViewData["Title"] = "Cart";
}

<div class="container">
    <div class="row cart-header-row">
        <div class="col-2 d-none d-md-block">
            <span class=""></span>
        </div>
        <div class="col-5">
            <span class="text-uppercase">Product</span>
        </div>
        <div class="col-2 d-none d-md-block">
            <span class="text-uppercase">Quantity</span>
        </div>
        <div class="col-2 d-none d-md-block">
            <span class="text-uppercase">Price</span>
        </div>
        <div class="col-1 d-none d-md-block">
            <span class="text-uppercase"></span>
        </div>
    </div>
    <hr/>
    @foreach (var cartProductViewModel in Model.Products)
    {
        <div class="row">
            <div class="col-3 col-md-2">
                <img src="@cartProductViewModel.ImageUrl" alt="Image" class="img-fluid"/>
            </div>
            <div class="col-9 col-md-5">
                <span class="font-weight-bold">@cartProductViewModel.Name</span><br/>
                <span class="cart-product-description font-weight-light">@cartProductViewModel.Description</span>
                <div>
                    <span class="cart-ingredient">+ Ingredient</span>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <button class="btn btn-outline-secondary btn-circle btn-sm">-</button>
                <span>@cartProductViewModel.Quantity</span>
                <button class="btn btn-outline-secondary btn-circle btn-sm">+</button>
            </div>
            <div class="col-4 col-md-2">
                <span>@cartProductViewModel.TotalPrice</span>
            </div>
            <div class="col-4 col-md-1">
                <button class="btn btn-danger btn-circle btn-sm">X</button>
            </div>
        </div>
        <br/>
    }
</div>