@model PizzaDotNet.Web.ViewModels.Cart.CartViewModel

@{
    this.ViewData["Title"] = "Cart";
}

@if (this.TempData["Message"] != null)
{
    <div class="alert alert-@this.TempData["MessageType"] alert-dismissible fade show">
        <span>@this.TempData["Message"]</span>
    </div>
}
<div class="container">
    <div class="row cart-header-row">
        <div class="col-2 d-none d-md-block">
            <span class=""></span>
        </div>
        <div class="col-5">
            <span class="text-uppercase">Product</span>
        </div>
        <div class="col-2 text-center d-none d-md-block">
            <span class="text-uppercase">Quantity</span>
        </div>
        <div class="col-2 text-center d-none d-md-block">
            <span class="text-uppercase">Price</span>
        </div>
        <div class="col-1 d-none d-md-block">
            <span class="text-uppercase"></span>
        </div>
    </div>
    <hr/>
    @foreach (var cartProductViewModel in Model.Products)
    {
        <div class="row">
            <div class="col-3 col-md-2">
                <img src="@cartProductViewModel.ImageUrl" alt="Image" class="img-fluid"/>
            </div>
            <div class="col-9 col-md-5">
                <span class="font-weight-bold">@cartProductViewModel.Name</span><br/>
                <span class="cart-product-description font-weight-light">@cartProductViewModel.SizeString</span>
                <div>
                    <span class="cart-ingredient">+ Ingredient</span>
                </div>
            </div>
            <div class="col-4 col-md-2 text-center">
                <a role="button" class="btn btn-outline-secondary btn-sm"
                   asp-action="DecreaseItemQuantity"
                   asp-route-itemId="@cartProductViewModel.Id"
                   asp-route-itemSize="@cartProductViewModel.SizeString">
                    -
                </a>
                <span>@cartProductViewModel.Quantity</span>
                <a role="button" class="btn btn-outline-secondary btn-sm"
                   asp-action="IncreaseItemQuantity"
                   asp-route-itemId="@cartProductViewModel.Id"
                   asp-route-itemSize="@cartProductViewModel.SizeString">
                    +
                </a>
            </div>
            <div class="col-4 col-md-2 text-center">
                <span>@cartProductViewModel.TotalPrice</span>
            </div>
            <div class="col-4 col-md-1  text-center">
                <a role="button" class="btn btn-danger btn-sm"
                   asp-action="RemoveItem"
                   asp-route-itemId="@cartProductViewModel.Id"
                   asp-route-itemSize="@cartProductViewModel.SizeString">
                    X
                </a>
            </div>
        </div>
        <br/>
    }
    <hr/>

    <div class="row">
        <div class="col-12">
            <form class="form-inline float-right"
                  method="post" asp-controller="CouponCodes" asp-action="ApplyCode">
                <div class="form-group mx-sm-3 mb-2">
                    <input asp-for="@Model.CouponCode" type="text" class="form-control" placeholder="@Model.CouponCode">
                    <span asp-validation-for="@Model.CouponCode" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success mb-2">Apply code</button>
            </form>
        </div>
    </div>

    <div class="row h5">
        <div class="col-9 col-md-10">
            <span class="float-right font-weight-bold">Total: </span>
        </div>
        <div class="col-3 col-md-2">
            <span id="totalPrice" class="">@Model.TotalPrice</span><span> $</span>
        </div>
    </div>

    <div class="row h5">
        <div class="col-9 col-md-10">
            <span class="float-right font-weight-bold">Total with discout: </span>
        </div>
        <div class="col-3 col-md-2">
            <span id="totalPriceDiscounted" class="">@Model.DiscountPrice</span><span> $</span>
            <br/>
            <small class="discount-text">Discount: @Model.DiscountPercent%</small>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-12 float-left">
            <a asp-controller="Categories" asp-action="Index"
               class="btn btn-outline-secondary text-uppercase" role="button">
                Back to menu
            </a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-12">
            <form method="post" asp-controller="Orders" asp-action="PlaceOrder">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="@Model.Address.PersonName"></label>
                        <input type="text" class="form-control" asp-for="@Model.Address.PersonName">
                        <span asp-validation-for="@Model.Address.PersonName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="@Model.Address.PhoneNumber"></label>
                        <input type="text" class="form-control" asp-for="@Model.Address.PhoneNumber">
                        <span asp-validation-for="@Model.Address.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.Address.Area"></label>
                        <input type="text" class="form-control" asp-for="@Model.Address.Area">
                        <span asp-validation-for="@Model.Address.Area" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.Address.Street"></label>
                        <input type="text" class="form-control" asp-for="@Model.Address.Street">
                        <span asp-validation-for="@Model.Address.Street" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="@Model.Address.Floor"></label>
                        <input type="text" class="form-control" asp-for="@Model.Address.Floor">
                        <span asp-validation-for="@Model.Address.Floor" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="@Model.Address.Apartment"></label>
                        <input type="text" class="form-control" asp-for="@Model.Address.Apartment">
                        <span asp-validation-for="@Model.Address.Apartment" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.AdditionalNotes"></label>
                    <input asp-for="@Model.AdditionalNotes" type="text" class="form-control" placeholder="Example: Door is locked or Beware of dog.">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input asp-for="@Model.UseAddress" class="form-check-input" type="checkbox">
                        <label asp-for="@Model.UseAddress" class="form-check-label"></label>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-50">Order now</button>
                </div>
            </form>
        </div>
    </div>
</div>