@model PizzaDotNet.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
    <p>@Model.Description</p>
    <hr/>
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col col-auto">
                <a asp-controller="Products" asp-action="@product.Id" class="text-decoration-none text-dark">
                    <div class="card h-100p" style="width: 18rem;">
                        <img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>